*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gradient-start: #fff0f6;
  --gradient-end: #ffa7c4;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
  background: var(--gradient-end);
  min-height: 100%;
  overscroll-behavior: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  background: radial-gradient(
      circle at center,
      var(--gradient-start) 0%,
      var(--gradient-end) 100%
    )
    fixed;
  font-family: "Arial", sans-serif;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
.container {
  text-align: center;
  padding: 20px;
  width: min(90%, 65ch);
  margin: 0 auto;
}
